body {
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
}

#map {
  flex: 2;
  height: 100%;
}

#sidebar {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  background: #f7f7f7;
}

#gallery img {
  width: 100%;        /* fit inside sidebar */
  height: auto;       /* keep proportions */
  max-width: 100%;    /* prevent overflow */
  display: block;
  margin-bottom: 10px;
  border-radius: 8px;
}
